* {
    padding: 0%;
    margin: 0%;
}

#navbar {
    height: 100px;
    width: 100px;
}

.container {
    height: 300px;
    width: 420px;
    box-sizing: border-box;
    margin: 7% auto;
    text-align: center;
    overflow: hidden;
}

#heading {
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #1a1919;
    margin-bottom: 40px;
    letter-spacing: .2em;
    font-size: 22px;
    font-weight: bolder;
}

#fblogin {
    border: #1877f2 solid 2px;
    display: block;
    box-sizing: border-box;
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 40px;
    padding-top: 5px;
}

#fblogin>span {
    display: inline-block;
    color: #1877f2;
    vertical-align: top;
    margin-top: 6px;
    margin-left: 20px;

}

#Glogin {
    border: white solid 1px;
    display: block;
    box-sizing: border-box;
    height: 45px;
    width: 100%;
    box-shadow: 0px 1px 5px rgb(87, 85, 85);
    text-align: left;
    padding-left: 40px;
    padding-top: 6px;
}

#Glogin:hover {
    box-shadow: 1px 1px 10px #1877f2;
}

#google_logo{
    color: rgb(63, 63, 63);
    font-size: 20px;
    padding: 5px;
}

#Glogin>span {
    color: #454545;
    text-decoration: none;
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
    margin-top: 7px;


}


#tosignup {
    margin-top: 80px;
    vertical-align: middle;
    font-size: 15px;
}

#tosignup>span,
a {
    color: gray;
}

#tosignup>a:hover {
    color: black;
}