* {
    padding: 0%;
    margin: 0%;
}

#navbar {
    /* margin: 0%; */
    height: 100px;
}

#box1 {
    height: 250px;
    width: 420px;
    box-sizing: border-box;
    margin: 7% auto;
    margin-bottom: 0%;
    text-align: center;
    overflow: hidden;
}

#box2 {
    max-height: fit-content;
    width: 420px;
    box-sizing: border-box;
    margin: 7% auto;
    margin-top: 0%;
    text-align: center;
    overflow: hidden;
}

#heading {
    font-family: 'Zen Maru Gothic', sans-serif;
    margin-bottom: 25px;
    letter-spacing: .2em;
    font-size: 20px;
    font-weight: bolder;
}

#heading+p {
    margin-bottom: 50px;
}

#fblogin {
    border: #1877f2 solid 2px;
    display: block;
    box-sizing: border-box;
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 40px;
    padding-top: 5px;
}

#fblogin>span {
    display: inline-block;
    color: #1877f2;
    vertical-align: top;
    margin-top: 6px;
    margin-left: 20px;
}

#Glogin {
    border: white solid 1px;
    display: block;
    box-sizing: border-box;
    height: 45px;
    width: 100%;
    box-shadow: 0px 1px 5px rgb(87, 85, 85);
    text-align: left;
    padding-left: 40px;
    padding-top: 6px;
}

#Glogin:hover {
    box-shadow: 1px 1px 10px #1877f2;
}

#Glogin>span {
    color: #454545;
    text-decoration: none;
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
    margin-top: 7px;
}

.fillups, #button {
    border: rgb(196, 185, 185) solid 1px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 15px;
    padding: 13px;
}

#google_logo {
    color: rgb(63, 63, 63);
    font-size: 20px;
    padding: 5px;
}

#button {
    position: relative;
    background-color: #000;
    color: white;
    font-size: 15px;
    cursor: pointer;
    background-color: black;
}