

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* #topdiv{
    width:100%;
    height:70px;
    background-color: #991f53;
    position: relative;
    text-align: center;
    font-size: 12px;
    z-index: 1;
    color:white;
    padding:25px;
} */

.navbar {
    background: #1a1a1a;
    height: 80px;
    border: 1px solid rgb(66, 66, 66);
    width: 100%;
    margin: auto;
}

.navbar .img img {
    margin-top: 30px;
    cursor: pointer;
    margin-left: 30px;
}

.navbar ul {
    display: flex;
    margin-left: 22%;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: -20px;
    position: relative;
    font-size: 12px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 2px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -17px;
    transition: 0.3s;
}

.navbar ul li:hover::after {
    width: 100%;
}
.icons {
 display: flex;
 justify-content: end;
 margin-bottom: 50px;
 margin-right: 40px;
 margin-top: -0px;
 list-style: none;
}

.icons a img {
 color: white;
 height: 25px;
 width: 25px;
 margin-left: 20px;
 margin-top: -20px;
 margin-bottom: 30px;
}

.icons li a {
display: inline-block;
filter: invert(1);
transform: scale(0.9);
}
#left{
    border:1px solid black;
    width:500px;
    height:700px;
    margin-left:200px;
    background-image: url("https://plugins-media.makeupar.com/webconsultation/images/layout1-bg.jpg");
    background-size:cover;
    margin-top:80px;
}
#leftbox{
    background-image: url("https://plugins-media.makeupar.com/webconsultation/images/layout1-bg.jpg");
    background-size:cover;
    border:1px solid black;
    width:330px;
    height:500px;
    margin-left:200px;
    margin-top:20px;
    display: inline-block;
}
#r1{
    border: 2px solid rgb(243, 78, 127);
    width:260px;
    height:140px;
    border-radius:40px;
    margin:auto;
    margin-top:8px;
}
p{
    font-size:15px;
    margin:auto;
    color:white;
    text-align:center;
    margin-top:10px;
}
#r11 ,#r12{
    border: 2px solid rgb(243, 78, 127);
    width:120px;
    height:120px;
    border-radius:100%;
    margin-top:15px;
    display:inline-block;
    margin-left:32px;
    text-align:center ; 
}
#text{
    flex-direction:column;
    margin-left:300px;
    word-spacing:50px;
    font-family: Futura,sans-serif;
    color: #555050;
    background: #fff;
    line-height: 1.5; 
    font-size:50px;
    font-weight:100px;
    font-style:normal;
}
#camera{
    width:25%;
    margin-left:100px;
    margin-top: 20px;;
}
#makeup{
    width:45%;
    margin-left:3px;
    margin-top: 15px;
}
#arrow{
    width:25%;
    margin-left:3px;
    margin-top: 15px;
}
#rightbox{
    /* border:1px solid black; */
    width:800px;
    height:400px;
    margin-left:100px;
    display: inline-block; 
}
#card1 {
    /* border:1px solid black; */
    width:250px;
    height:300px;
    display: inline-block;
    margin-left:10px;
    margin-top:20px;
}
#card2 {
    /* border:1px solid black; */
    width:250px;
    height:300px;
    display: inline-block;
    margin-left:10px;
}
#card3 {
    /* border:1px solid black; */
    width:250px;
    height:300px;
    display: inline-block;
    margin-left:10px;
}
#m1 , #m2 , #m3{
    border:1px solid black;
    width:250px;
    height:300px;

}
.slider-box{
    width:100%;
    height:90vh;
    margin:0px auto;
    position:relative;
}
#slider{
    width:100%;
    height:100%;
    display:inline-flex;
}
#img1{
    width:100%;
    height:100%;
}
#slider img{
    width:100%;
}
.indicators{
    position:absolute;
    left:50%;
    top:700px;
    transform:translateX(-100%);
}
.indicators span{
    display:inline-block;
    width:15px;
    height:15px;
    border-radius:50%;
    border:solid #fff 3px;
    background: black;
    cursor:pointer;

}
.indicators span:hover{background:rgb(136, 43, 43)}

.bottom-box{
    /* border:2px solid red; */
    width:100%;
    
    margin-top:40px;
}
h3{
    color:white;
    text-align: center;
}
#leftbox1{
    /* border:2px solid red; */
    width:330px;
    height:500px;
}
#downbox{
    /* border:1px solid red; */
    /* background-color: yellow; */
    width:100%;
    height:700px;
    margin-top:20px;
    display:inline-block;
    gap:30px;
}
.card11{
    background-color: whitesmoke;
    margin-top:50px;
    width:180px;
    height:200px;
    margin-left:110px; 
    display: inline-block; 
}
.card12{
    background-color: whitesmoke;
    margin-top:50px;
    width:180px;
    height:200px;
    margin-left:90px; 
    display: inline-block; 
}
.card13{
    background-color: whitesmoke;
    margin-top:50px;
    width:180px;
    height:200px;
    margin-left:90px; 
    display: inline-block; 
}
.downimg{
    width:250px;
    height:250px;
}
.downimg1{
    width:250px;
    height:250px;
    margin-top:30px;
}
#button{
    width:250px;
    height:40px;
    margin-top:20px;
    transition:ease-out 0.3s;
    box-shadow:insert 300px 0 0 0 #f9e506;
    background-color:black;
    color:white;
    position:relative;
}
#button:hover{
    box-shadow:inset 300px 0 0 0 white;
    cursor:pointer;
    color:#000;
}
#button1{
    width:250px;
    height:40px;
    margin-top:20px;
    background-color: white;
    position:relative;
}
#green{
    /* border: 1px solid green; */
    width:100%;
    height:650px; 
    margin-left:50px;  
}
#red{
    /* border: 1px solid red; */
    width:100%;
    height:550px; 
}
#blue{
    /* border: 1px solid blue; */
    width:100%;
    height:550px;
}
#select{
  
    width:250px;
    height:20px;
}
#select1{
  
  width:250px;
  height:20px;
}
#pink{
    background-image: url("https://github.com/jishanpatel7/Consruct-Week-Lakme-Project/blob/main/pink%20bg.png?raw=true");
    width:500px;
    height:140px;
    margin-left:500px;
    margin-top:70px;
    border:1px solid white;
}
#sectionhead{
    border:1px solid transparent;
    width:300px;
    height:30px;
    margin-left:70px;
    margin-top:60px;
    text-align:center;
    color:white;
    font-weight:bold;
    font-size:20px;
    letter-spacing: 3.5px;
}
#extra{
    border:1px solid white;
    width:280px;
    height:80px;
    margin-top:10px;
}
#extra1{
    border:1px solid white;
    width:280px;
    height:80px;
    margin-top:10px;
    
}
.downtext{
    border:1px solid white;
    width:280px;
    height:80px;
    
}
.textstyle{
    font-size: 13px;
    color:grey;
    text-align:center;
}
.box2 {
border: 1px solid black;
display: flex;
height: 100px;
justify-content: center;
align-items: center;
background-color: #f2f2f2;
margin-top: 10px;
margin-left: 10px;
}

.box2 div {
display: flex;
width:500px;
height:100px;
margin-left: 170px;
margin-right:200px;
/* border:1px solid yellow; */
margin-top:50px;
gap:7px;

}
div h3{
margin-top:10px;
color:black;
text-align:left;
}
.box2 a {
color: black;
text-align: right;
text-decoration: none;
}

.box2 a img {
display: flex;
flex-direction: column;
height: 30px;
margin: 10px;
margin-left: 35px;
width: 30px;
}

#line {
border: 0.5px solid rgb(80, 74, 74);
width: 1px;
height: 70px;
margin: 10px;
margin-right: -80px;
}

.footer {
width: 100%;
height: 700px;
border: 1px solid white;
background-color: black;

}

.div1 {
border: 1px solid red;
width: 100%;
height: 700px;
}

.social {
/* border: 1px solid white; */
width: 1743px;
height: 75px;
margin-left: 40px;
margin-top: 60px;
display: flex;
color: white;
}

.social p {
display: flex;
gap: 10px;
margin-left: 20px;
margin-top: 20px;
}

.social img {
margin-top: 10px;
margin-left: 20px;
}

.social a img {
display: flex;
height: 50px;
width: 50px;
}

.social .img img {
margin-top: 10px;
cursor: pointer;
margin-left: 10px;
width: 120px;
height: 35px;
}
.social .a1{
    margin-top: 10px;
cursor: pointer;
margin-right:1150px;
width: 50px;
height: 35px;

}
.social .a2{
    margin-top: 10px;
cursor: pointer;
margin-left:-1130px;
width: 60px;
height: 40px;

}
.social .a3{
    margin-top: 10px;
cursor: pointer;
margin-left:-1050px;
width: 55px;
height: 40px;

}
.downtext1{
/* border:1px solid white; */
width:50%;
height:500px;
color:white;
line-height:1.5;
font-size:14px;
margin-left:40px;
margin-top:30px;
display:inline-block;
}
.downright{
/* border:1px solid red; */
width:40%;
height:400px;
color:white;
margin-left:40px;
display:inline-block;
font-family: Futura,sans-serif;
}
#help{
/* border:1px solid red; */
width:25%;
height:300px;
margin-left:40px;
margin-top:20px;
display:inline-block;
}
#needhelp{
/* border:1px solid red; */
width:30%;
height:300px;
margin-left:200px;
margin-top:20px;
display:inline-block;
}